@import '../lib/lessutil/util.less';

/*
 * Larches
 */

.larch {
    .selectable(false);
    position: relative;
    line-height: 1;

    &:focus {
        outline: none;
    }

    > .control {
        .clearfix();
        position: relative;
        cursor: text;

        > input,
        > textarea {
            border: none;
            outline: none;
            &:focus::-ms-clear,
            &:focus::-ms-reveal {
                display: none;
            }
        }
        > textarea {
            resize: vertical;
        }
    }

    .blank-ui {
        position: absolute;
        top: 0;
        left: 0;
    }

    .placeholder {
        .single-line();
    }

    &.larch-input,
    &.larch-select {
        > .menu {
            display: none;
            position: absolute;
            left: 0;
            right: 0;

            &.in-flow {
                position: relative;
            }

            .state-open& {
                display: block;
            }

            .item {
                display: block;
                position: relative;
                cursor: pointer;
            }
        }
    }

    &.larch-select {
        > .menu {
            .item {
                &.state-current {
                    display: none;
                    .multi& {
                        display: block;
                    }
                }
            }
        }
    }

    &.larch-checkbox,
    &.larch-radio {
        cursor: pointer;
        > .control {
            float: left;
        }
        > .label {
            display: block;
        }
    }

    &.larch-hidden {
        display: none !important;
    }

}

.larch-tag-input {
    &:extend(.larch-input);
}


/*
 * Buttons
 */

.button {
    .clearfix();
    .selectable(false);
    display: inline-block;
    position: relative;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}


/*
 * Tooltips
 */

.tooltip {
    position: absolute;
    display: none;

    &.persistent,
    &.state-show-default,
    &.state-show-errors {
        display: block;
    }

    .errors {
        > span {
            display: block;
        }
    }
}
