.larch{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;position:relative;line-height:1}.larch:focus{outline:none}
.larch>.control:before,.larch>.control:after{content:'';display:table}
.larch>.control:after{clear:both}
