/*
 * Images
 */
/*
 * Layout
 */
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
/*
 * Text
 */
/*
 * Text selection
 */
/*
 * Corners and shadows
 */
/*
 * Transitions and animations
 */
/*
 * Transforms
 */
/*
 * Gradients
 */
/*
 * Larches
 */
.larch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  line-height: 1;
}
.larch:focus {
  outline: none;
}
.larch > .control {
  position: relative;
  cursor: text;
}
.larch > .control:before,
.larch > .control:after {
  content: '';
  display: table;
}
.larch > .control:after {
  clear: both;
}
.larch > .control:before,
.larch > .control:after {
  content: '';
  display: table;
}
.larch > .control:after {
  clear: both;
}
.larch > .control > input,
.larch > .control > textarea {
  border: none;
  outline: none;
}
.larch > .control > input:focus::-ms-clear,
.larch > .control > textarea:focus::-ms-clear,
.larch > .control > input:focus::-ms-reveal,
.larch > .control > textarea:focus::-ms-reveal {
  display: none;
}
.larch > .control > textarea {
  resize: vertical;
}
.larch .blank-ui {
  position: absolute;
  top: 0;
  left: 0;
}
.larch .placeholder {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.larch.larch-input > .menu,
.larch.larch-select > .menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
.larch.larch-input > .menu.in-flow,
.larch.larch-select > .menu.in-flow {
  position: relative;
}
.state-open.larch.larch-input > .menu,
.state-open.larch.larch-select > .menu {
  display: block;
}
.larch.larch-input > .menu .item,
.larch.larch-select > .menu .item {
  display: block;
  position: relative;
  cursor: pointer;
}
.larch.larch-select > .menu .item.state-current {
  display: none;
}
.multi.larch.larch-select > .menu .item.state-current {
  display: block;
}
.larch.larch-checkbox,
.larch.larch-radio {
  cursor: pointer;
}
.larch.larch-checkbox > .control,
.larch.larch-radio > .control {
  float: left;
}
.larch.larch-checkbox > .label,
.larch.larch-radio > .label {
  display: block;
}
.larch.larch-hidden {
  display: none !important;
}
/*
 * Buttons
 */
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}
.button:before,
.button:after {
  content: '';
  display: table;
}
.button:after {
  clear: both;
}
.button:before,
.button:after {
  content: '';
  display: table;
}
.button:after {
  clear: both;
}
/*
 * Tooltips
 */
.tooltip {
  position: absolute;
  display: none;
}
.tooltip.persistent,
.tooltip.state-show-default,
.tooltip.state-show-errors {
  display: block;
}
.tooltip .errors > span {
  display: block;
}
